/*   TERCİH EDİLMEYEN BİR KULLANIM ŞEMASI

************ Main Rules ****************

body{
    background-color: black;
    color: white;
}

h2{
    color:blue;
    font-size: 40px;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color:grey; 
    font-size:20px ;
    font-family: 'Nunito', sans-serif;
}
h1{
    color: aqua;
    font-size: 50px;
} */
 

/* TERCİH EDİLEN YAPI BU ŞEKİLDEDİR */


#siyah-ustu-kirmizi-buyuk {
    background-color: black;
    color: red;
    font-size: x-large;
    font-family: 'Nunito', sans-serif;

}
 
.background-1 {
    background-color: black;
}

.tx-white {
    color: white;
}

.tx-aqua {
    color: aqua;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}


/* CSS Selectors */


/* .class.class yapısını kullanırken iki class yapısı da aynı element içerisinde belirtilmek zorunda. */
.color-blue.fw-normal {
    color: blue;
    font-weight: normal;
}

/* .class .class yapısı kullanılırken ikinci class yapısı birinci class yapısının kullanıldığı elementin altındaki bir elementin içerisinde kullanılmalı */

.color-blue .fw-bold {
    color: blue;
    font-weight: bold;
}

/* first child  */

ul > li:first-child {
    color: aquamarine;
}

/* last child */

li:last-child {
    color: aquamarine;
}

/* nth child()  - parantez için odd ya da even kullanılabilir. Ya da matematiksel formül kullanılabilir 3n+1 gibi. */

li:nth-child(3) {
    color: red;
}

/* Bu şekilde name attribute alan tüm elementler etkilenir. -- SATIR 55-59*/

[name]{
    color: orange;
  }

/* ~= ifadesi ile title özelliği "isim" içeren divlere erişme -- SATIR 5153*/

aman[title~="isim"] {
    color: orange;
  }

/*  ^= ifadesi ile href özelliği "https" ile başlayan a etiketlerine erişme -- SATIR 46-48 */

a[href ^= "https"] {
    color: palegreen;
  }

/* *= ifadesi ile href özelliği "http" içeren a etiketlerine erişme -- SATIR 42-44 */

a[href *= "http"] {
    color: palegreen;
  }

/* $= ifadesi ile class özelliği sonunda "test" içeren divlere erişme -- SATIR 36-39*/

div[class$="test"] {
    background: yellow;
  }

/* Pseudo Classes - selector:pseudo class{} */

/* :link -- Daha önce tarayıcıda açılmamış linke CSS uygular. Not: Etkisini görmek için tarayıcıya geçmişi temizlemek gerekebilir. - SATIR 33*/

a#google:link {
    color: red;
  }

/* :hover -- Seçici ile işaretlenen etiketin üzerine mouse ile gelindiğinde CSS uygalanır ve mouse üzerinde değilken etki kaybolur. - SATIR 32 */

a.test:hover {
    color: red;
  }

  